<div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-12" >
    <div class="row">
        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-12 index_box" >
            <%= image_tag("4.gif" , class: "imge img-fluid ")%>
                <div class="quotes_index">
                        <span class="text"><b><font face="life"  size="4">
                            <span style="font-size:25px;">
                                <%= t('one') %>
                                <br soft>
                            </span></font></b>
                        </span>
                        <span class="text"><b><font face="life" color="#FFFFFF">
                            <span style="font-size:22px;">
                                <%= t('two') %>
                                <br soft>
                            </span></font></b>
                        </span>
                        <span class="text"><b><font face="life" >
                            <span style="font-size:21px;">
                                <%= t('three') %>
                                <br soft>
                            </span></font></b>
                        </span> 
                        <span class="text"><font face="life" color="#FFFFFF">
                            <span style="font-size:20px;">
                                <%= t('four') %>
                                <br soft>
                            </span></font>
                        </span> 
                        <span class="text"><font face="life" >
                            <span style="font-size:19px;">
                                <%= t('five') %>
                                <br soft>
                            </span></font>
                        </span> 
                </div> 
            </div>
        </div>
</div>