<div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-12 " >
    <div class="row">
        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-12 index_box">
            <%= image_tag("6.jpg" , class: "imge img-fluid ")%>
            <div class="quotes_index">
                    <span class="text"><b><font face="life" color="#FFFFFF">
                        <span style="font-size:25px;">
                            <%= t('service') %>
                            <br soft>
                        </span></font></b>
                    </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row service">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <%= image_tag("21.jpg" , class: "imge img-fluid ")%>
            <h3>Ranting Room</h3>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <%= image_tag("22.jpg" , class: "imge img-fluid ")%>
            <h3>Lone</h3>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <%= image_tag("23.jpg" , class: "imge img-fluid ")%>
            <h3>Documentation</h3>
        </div>
    </div>
    
</div>